<% content_for :section, "result" %>
<% content_for :btn_link_power, "#" %>
<% content_for :btn_link_up, "#" %>
<% content_for :btn_link_down, "#" %>
<% content_for :btn_link_left, "#" %>
<% content_for :btn_link_right, "#" %>
<% content_for :btn_link_a, "result?input=a" %>
<% content_for :btn_link_b, "#" %>
<% content_for :btn_link_select, "#" %>
<% content_for :btn_link_start, "#" %>

<h1>Battle Result</h1>
<p>
	<%= $view[:caption] %>
</p>

<div class="input_guide">
	<p>[A]Go back<br> to the world..</p>
</div>
