<% content_for :section, "title" %>
<% content_for :btn_link_power, "power" %>
<% content_for :btn_link_up, "#" %>
<% content_for :btn_link_down, "#" %>
<% content_for :btn_link_left, "#" %>
<% content_for :btn_link_right, "#" %>
<% content_for :btn_link_a, "#" %>
<% content_for :btn_link_b, "#" %>
<% content_for :btn_link_select, "save" %>
<% content_for :btn_link_start, "worldmap" %>

<div class="title_logo">
	<p>
		MOVIEMON
	</p>
</div>
<div class="input_guide">
	<p>[Start]New Game</p>
	<p>[Select]Load Game</p>
</div>
